<div>
    <h1>Listado de productos</h1>
    <div class="grid">
        <!-- Por cada producto imprimo una card con los datos-->
        {{#each products.payload}}
            <div class="card">
                <h2>Product ID:{{this._id}} </h2>
                <p>Title: {{this.title}}</p>
                <p>description: {{this.description}} </p>
                <p>code: {{this.code}} </p>
                <p>price: {{this.price}} </p>
                <p>status: {{this.status}} </p>
                <p>stock: {{this.stock}} </p>
                <p>category: {{this.category}} </p>
                <p>thumbnail: {{this.thumbnail}} </p>
            </div>
        {{/each}}
    </div>
    <div class="p-2 col-12">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {{#if products.hasPrevPage}}
                    <li class="page-item">
                {{else}}
                    <li class="page-item disabled">
                {{/if}}
                        <a class="page-link" href="{{products.prevLink}}">Previous</a>
                    </li>
                
                    <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{products.page}}</a></li>

                {{#if products.hasNextPage}}
                    <li class="page-item">
                {{else}}
                    <li class="page-item disabled">
                {{/if}}
                        <a class="page-link" href="{{products.nextLink}}">Next</a>
                    </li>
            </ul>
        </nav>
    </div>
</div>