<div>
    <h1>Listado de productos</h1>
    <div class="grid">
        <!-- Por cada producto imprimo una card con los datos-->
        {{#each products}}
            <div class="card">
                <h2>Product ID{{this.id}} </h2>
                <p>Title: {{this.title}}</p>
                <p>description: {{this.description}} </p>
                <p>code: {{this.code}} </p>
                <p>price: {{this.price}} </p>
                <p>status: {{this.status}} </p>
                <p>stock: {{this.stock}} </p>
                <p>category: {{this.category}} </p>
                <p>thumbnail: {{this.thumbnail}} </p>
            </div>
        {{/each}}
    </div>
</div>